#!/bin/sh

# Change these
DOMAIN="{{ dtdns_domain }}"
DTDNSPASSWORD="{{ dtdns_password}}"


# You shouldn't need to change those
PATH=/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/bin:/usr/local/sbin
DTDNSSERVER="ns1.darktech.org."
INTERFACE="pppoe0"
DTDNSCERT="/etc/dtdns/www.dtdns.com.pem"
